<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">TelerikDemo</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="grid">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Grid
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="gridcud">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Grid CUD
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="employecud">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Employee CUD
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="exporting">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Exporting
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="listview">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ListView
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="listviewmdo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ListView MDO
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="listviewmdoemployee">
                <span class="oi oi-list-rich" aria-hidden="true"></span> LVMDO Emp
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
